.innerpage-con-wrap{
	overflow: hidden;
	position: relative;
}
.innerpage-con-wrap:before{
	content: "";
	position: absolute;
	background: url(../images/dot-icon-sky.png);
	width: 12px;
	height: 11px;
	background-size: 100% 100%;
	top: 30px;
	left: 38%;
	transform: translateX(-38%);
	-ms-transform: translateX(-38%);
	-webkit-transform: translateX(-38%);
}
.default-page-con {
	padding-bottom: 125px;
	padding-top: 72px;
}

.fl-dft-overflow-controller {
	overflow: hidden;
}
.default-page-con h1,
.default-page-con h2,
.default-page-con h3,
.default-page-con h4,
.default-page-con h5{
	margin-bottom: 25px;
	line-height: 1.1;
}
.default-page-con h2{
	margin-bottom: 15px;
}
.dfp-text-module{
	
}
.default-page-con ul,
ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-left: 25px;
	padding-bottom: 10px;
}
.default-page-con ul li,
ul li {
	padding: 5px 0 14px 42px;
	position: relative;
	line-height: 24px;
}

.default-page-con ul li::before,
ul li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 5px;
	background: url(../images/list-icon.svg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width: 24px;
	height: 24px;
}

.default-page-con ol, ol {
	padding: 0 0 0 25px;
	list-style: none;
	counter-reset: my-awesome-counter;
	-ms-counter-reset: my-awesome-counter;
	-webkit-counter-reset: my-awesome-counter;
}
.default-page-con ol li ,ol li {
	counter-increment: my-awesome-counter;
	-ms-counter-increment: my-awesome-counter;
	-webkit-counter-increment: my-awesome-counter;
	padding-bottom: 15px;
	line-height: 24px;
}
.default-page-con ol li::before,
ol li::before {
	content: counter(my-awesome-counter) "";
	color: #F3BF00;
	font-weight: 700;
	margin-right: 17px;
	width: 24px!important;
	height: 24px!important;
	border: 2px solid #F3BF00;
	text-align: center;
	font-size: 16px;
	line-height: 16px;
	text-align: center;
	padding: 0 5.5px;
}
.default-page-con p {
    margin-bottom: 25px;
}

.dfp-promo-module{
	padding-bottom: 30px;
}
.dfp-promo-module h1{
	text-transform: uppercase;
	font-weight: 700;
}
.dftPromoModuleSlider{
	margin-bottom: 0!important;
	padding-bottom: 20px;
}

.dfp-plate-one-img-bx img{
	width: 100%;
}


.fl-dft-lftimg-rgtdes {
	margin: 0 0;
	padding-bottom: 30px;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-lftimg-rgtdes-rgt {
	width: 50%;
	float: left;
}
.fl-dft-lftimg-rgtdes-rgt {
	padding-left: 25px;
	padding-bottom: 5px;
	padding-top: 10px;
}
.fl-dft-lftimg-rgtdes-rgt p:last-child{
	margin-bottom: 0;
}
.fl-dft-lftimg-rgtdes-lft,
.fl-dft-testi-controller{
	background-size: cover !important;
	background-repeat: no-repeat !important;
	background-position: center center !important;
}

/*-- left des right img customize---*/

.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-lft{
	float: right;
}
.fl-dft-lftimg-rgtdes.fl-dft-rgtimg-lftdes .fl-dft-lftimg-rgtdes-rgt{
	float: left;
	padding-left: 0;
	padding-right: 25px;
}

.dft-question-mark-slider{
	margin: 0 -8px!important;
	padding-bottom: 30px;
}
.dft-question-mark-slide-item{
	padding: 0 8px;
}
.dft-question-mark-slide-item-inr{
	border: 3px solid #F3F3F3;
	padding: 43px 133px 35px 115px;
	position: relative;
}
.dft-question-mark-slide-item-inr strong{
	font-weight: 600;
	font-size: 24px;
	line-height: 30px;
}
.dft-question-mark-slide-item-inr i{
	position: absolute;
	left: 30px;
	top: 43px;
}
.dft-question-mark-slide-item-inr span{
	position: absolute;
	right:45px;
	top: 58px;
}

.dft-2grd-img-con-item{
	position: relative;
}


.dft-blockquote{
	background: #F3BF00;
	padding: 55px 108px 50px 77px;
	margin-bottom: 63px;
}
.dft-blockquote blockquote{
	font-weight: 600;
	font-size: 26px;
	line-height: 36px;
	margin: 0;
	padding: 0;
	padding-left: 85px;
	color: #FFFFFF;
	border: none;
	position: relative;
	font-style: italic;
}
.dft-blockquote blockquote span{
	display: block;
	font-size: 16px;
	line-height: 24px;
	font-style: normal;
	padding-top: 20px;
}
.dft-blockquote blockquote span strong{
	font-weight: 700;
}
.dft-blockquote blockquote:before{
	content: "";
	background: url(../images/blockquote--white-icon.svg);
	background-size: 100% auto;
	background-repeat: no-repeat;
	width: 58px;
	height: 41px;
	position: absolute;
	left: 0;
	top: 7px;
}

.dft-blog-slider{
	margin: 0 -32px!important;
	padding-bottom: 23px;
}
.dft-blog-slide-item{
	padding: 0 32px 30px;
}
.dft-blog-slide-item-fea-img{
	height: 280px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.dft-blog-slide-item-des{
	background: #FFFFFF;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	padding: 75px 25px 40px;
	position: relative;
}
.dft-blog-slide-item-des > strong{
	font-weight: 600;
	font-size: 22px;
	line-height: 30px;
	display: block;
	margin-bottom: 25px;
}
.dft-blog-slide-item-des-date{
	width: 96px;
	height: 96px;
	text-align: center;
	color: #fff;
	background: #F3BF00;
	position: absolute;
	left: 25px;
	top: -48px;
	font-size: 36px;
	line-height: 24px;
	border-radius: 100% 100%;
	padding-top: 20px;
	padding-left: 8px;
	padding-right: 8px;
}
.dft-blog-slide-item-des-date *{
	display: block;
}
.dft-blog-slide-item-des-date strong{
	padding-bottom: 7px;
	font-weight: 700;
}
.dft-blog-slide-item-des-date span{
	font-size: 24px;
	text-transform: uppercase;
}
.dft-blog-slide-item-des a{
	color: #ACABAB;
	font-size: 16px;
	line-height: 22px;
	font-weight: 700;
	display: inline-block;
	vertical-align: baseline;
	padding: 0 30px 0 0;
	position: relative;
}
.dft-blog-slide-item-des a:after{
	content: "";
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 0;
	background: url(../images/arrow-rgt-orange-arrow-sm.svg);
	width: 16px;
	height: 14px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.dft-blog-slide-item-des a:hover{
	color: #F3BF00;
}
.dft-blog-slide-item-des a:hover:after{
	right: -3px;
}
.default-page-con hr{
	border-top: 2px solid #F5F5F5;
	margin-bottom: 38px;
	margin-top: 0;
}

/*
Gallery design
*/

.gallery-wrap{
	padding-top: 13px;
	padding-bottom: 6px;
}
.gallery {
	margin-left: -12px;
	margin-right: -12px;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0 12px;
	margin-bottom: 24px;
}

.gallery-item img {
	width: 100%;
}

.gallery-columns-1 .gallery-item {
    width: 100%;
    float: none;
}
.gallery-columns-2 .gallery-item {
    width: 50%
}
.gallery-columns-3 .gallery-item {
    width: 33.3333%
}
.gallery-columns-4 .gallery-item {
    width: 25%
}
.gallery-columns-5 .gallery-item {
    width: 20%
}
.gallery-columns-6 .gallery-item {
    width: 16.6667%
}
.gallery-columns-7 .gallery-item {
    width: 14.2857%
}
.gallery-columns-8 .gallery-item {
    width: 12.5%
}
.gallery-columns-9 .gallery-item {
    width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}


/*table*/

.dfp-tbl-wrap{
	padding-top: 10px;
}

.table-dsc{
	padding: 0;
	background-color: #fff;
	border-top: none;
}
.table-dsc table{
	width: 100%;
	padding: 20px;
	border: none;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	-ms-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	-webkit-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
}
.table-dsc table thead{
	border-left: 4px solid #F3BF00;
	border-right: 4px solid #F3BF00;
}
/*.table-dsc table tr th:nth-child(1){
	padding: ;
}
.table-dsc table tr th:nth-child(1) span{
    border-right: 2px solid #8DC63F;
    display: block;
}*/
.table-dsc table tr th:last-child,
.table-dsc table tr td:last-child{
    padding-left: 30px;
}
.table-dsc table tr th:last-child span{
	border-right: none;
}

.table-dsc table tbody tr:first-child td span{
	display: block;
}
.table-dsc table tbody tr:first-child td:last-child span{
	border-right: none;
}
.table-dsc table tbody tr td:first-child span{
	font-weight: 700;
}
.table-dsc table tbody tr td:first-child{
	background: #F4F4F4;
}
.table-dsc table tr th {
	border: none;
	color: #fff;
	font-weight: 700;
	padding: 30px 0;
	line-height: 17px;
	letter-spacing: 0.02em;
	background: #F3BF00;
	font-size: 20px;
	line-height: 25px;
}
.table-dsc table tr th span{
	padding-top: 5px;
	padding-bottom: 5px;
	display: block;
}
.table-dsc table thead tr th:first-child span{
	width: 55px;
}
.table-dsc table thead tr th,
.table-dsc table tbody tr td{
	padding-left: 40px!important;
	padding-right: 10px!important;
}


.table-dsc table thead tr th:first-child,
.table-dsc table thead tr td:first-child{
	padding-left: 30px;
	padding-right: 30px;
	font-weight: 700;
}
.table-dsc table thead tr th:first-child{
	padding-left: 40px;
}

.table-dsc table tbody{
	border-top: 0;
	margin: 0 3px;
}
.table-dsc table tbody tr td{
	padding-top: 18px;
	padding-bottom: 18px;
	padding-right: 10px;
}
.table-dsc table tbody tr td:nth-child(2),
.table-dsc table thead tr th:nth-child(2){
	padding-left: 0;
}
.table-dsc table tbody tr:last-child{
	border-bottom: 4px solid #F3F3F3;
}

.table-dsc table tbody tr{
	border-bottom: 1px solid #F3F3F3;
	border-left: 0;
	border-right: 0;
}





/*news details */




@media(max-width: 1199px){
	#main-content .default-page-con-inner{
		padding-right: 0;
	}
}


@media(max-width: 991px){
	#main-content .default-page-con-inner{
		padding-left: 0;
	}
	#main-content .sidebar {
	    max-width: 110px;
	    top: 337px;
	    left: -15px;
	    z-index: 10;
	    background: #7B8CA8;
	    max-width: 40px;
	    padding: 10px 10px 11px;
	    text-align: center;
	}
	#news-details-page-controller .default-page-con{
		float: none;
	}
	.dft-news-details-social-icon ul li a svg{
		fill: #fff;
	}
	.dft-news-details-social-icon ul {
	    width: auto;
	    border-right: 0;
	    padding: 0;
	}
	.dft-img-title-grd-col h4{
		font-size: 20px;
		line-height: 24px;
	}
	
}
@media(max-width: 850px){
	
}

@media(max-width: 767px){
	.dfp-promo-module > strong{
		font-size: 24px;
		line-height: 30px;
	}
	.fl-dft-lftimg-rgtdes-lft, 
	.fl-dft-lftimg-rgtdes-rgt {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 300px;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-left: 0;
	}
	.default-page-con .dft-grd-col-list-item ul {
	    width: 100%;
	}
	.fl-dft-lftimg-rgtdes-rgt{
		padding-top: 30px;
	}
	.dft-img-title-grd-col{
		width: 100%;
		float: none;
	}
	.default-page-con{
		padding-bottom: 100px;
	}

}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.gallery {
	    margin-left: -5px;
	    margin-right: -5px;
	    padding-bottom: 5px;
	}
	.gallery-item {
	    padding: 0 5px;
	    margin-bottom: 10px;
	}
	.default-page-con ol,
	.default-page-con ul{
		padding-left: 0;
	}
	.fl-dft-lftimg-rgtdes-lft {
	    min-height: 240px;
	}
	.dft2grdImgConSlider .slick-prev, 
	.dft2grdImgConSlider .slick-next{
		width: 34px;
		height: 34px;
		background-size: 100% 100%;
		top: 95px;
		transform: initial;
		z-index: 10;
	}
	.dft2grdImgConSlider .slick-prev{
		background: url(../images/prev-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		left: 0;
	}
	.dft2grdImgConSlider .slick-next{
		background: url(../images/next-arrow-xs.svg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		right: 0;
	}
	.dft2grdImgConSlider .slick-prev:before, 
	.dft2grdImgConSlider .slick-next:before{
		content: none;
	}
	.dft-blockquote blockquote{
		padding: 65px 0 0 0;
	}
	.dft-blockquote blockquote:before{
		top: 0;
		left: -2px;
	}
	.dft-blockquote{
		padding: 40px 28px 35px;
	}
	.default-page-con{
		padding-bottom: 55px;
	}
	.dft-2grd-img-con-item-des h4{
		margin-bottom: 15px;
	}
}


@media(max-width: 479px){
	.dft-blockquote blockquote{
		font-size: 26px;
		line-height: 30px;
	}	
	
}



@media(max-width: 359px){

}

