/**
All Transitions
*/
a,input,img,textarea,button,svg,.dft-blog-item-fea-img,
.dft-question-mark-slide-item-inr span{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.scale{ 
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.hm-de-kijker-post-img-overflow:hover .hm-de-kijker-post-img,
a,input,img,textarea,button{
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.hm-de-kijker-post-img-overflow:hover .hm-de-kijker-post-img,
.scale{
	transform: scale(1.03);
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{

}
a:hover{
	color: #F3BF00;
}


/*
========================
 Animate 
========================
*/

.hm-slider-wrp .slick-current .hm-banner-dsc h3,
.hm-slider-wrp .slick-current .hm-banner-dsc .hm-bnr-title-1{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;	
}
.hm-slider-wrp .slick-current .hm-banner-dsc h1,
.hm-slider-wrp .slick-current .hm-banner-dsc .hm-bnr-title-2{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;	
}
.hm-slider-wrp .slick-current .hm-banner-dsc p{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.hm-slider-wrp .slick-current .hm-banner-dsc a{
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;		
}

