.rm-faq-backlink-sec{
	padding: 50px 0;
}
.rm-faq-backlink-sec-inr a{
	color: #1E1E1E;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 42px;
	position: relative;
}
.rm-faq-backlink-sec-inr a i{
	position: absolute;
	top: -2px;
	left: 0;
}

.rm-faq-content-sec{
	background: #F6F6F6;
	padding: 85px 0;
}
.rm-faq-cnt-sec-inr{
	background: #fff;
}
.rm-faq-cnt-sec-img{
	float: right;
	width: 40.5109%;
}
.rm-faq-cnt-sec-des{
	float: left;
	width: 59.489%;
	padding: 70px 102px 15px 40px;
}
.rm-faq-cnt-sec-des h2{
	font-size: 48px;
	color:  #222020;
	line-height: 1.5;
	margin: 0;
	padding-bottom: 20px;
}
.rm-faq-cnt-sec-des p{
	font-weight: normal;
	margin-bottom: 30px;
}