
.faq-content{
	padding: 80px 0;
}
.faq-cnt-inner{
	text-align: center;
}
.faq-cnt-inner h2{
	font-size: 36px;
	line-height: 53px;
	color: #222020;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin: 0;
	padding-bottom: 20px;
}
.faq-cnt-inner p{
	margin-bottom: 28px;
}

.faq-content .rm-search-form input[type="search"] {
    width: 770px;
}
.faq-content .rm-search-submit-btn {
    right: 263px;
}


.faq-grd-sec{
	background: #F6F6F6;
	padding-top: 60px;
	padding-bottom: 65px;
	overflow: hidden;
}

.faq-tabs{
	text-align: center;
	padding-bottom: 50px;
	border-bottom: 3px solid #fff;
}
.faq-tabs ul li{
	display: inline-block;
	padding-left: 31px;
	padding-right: 31px;
}
.faq-tabs ul li.active a{
	color: #F3BF00;
}
.faq-tabs ul li.active a:after{
	content: "";
	position: absolute;
	top: 100%;
	width: 100%;
	left: 0;
	height: 1px;
	background: #F3BF00;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.faq-tabs ul li a{
	font-size: 14px;
	color: #1E1E1E;
	line-height: 19px;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
}
.faq-tabs ul li a:after{
	content: "";
	position: absolute;
	top: 100%;
	width: 0%;
	left: 0;
	height: 1px;
	background: #F3BF00;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.faq-tabs ul li a:hover:after{
	width: 100%
}



.faq-grd-wrap{
	margin-top: 100px;
}
.faq-grd-wrap ul{
	margin-left: -26px;
	margin-right: -26px;
}
.faq-grd-wrap ul li{
	float: left;
	width: 33.3333%;
	padding-left: 26px;
	padding-right: 26px;
	margin-bottom: 85px;
}
.faq-grd-wrap ul li:nth-child(7),
.faq-grd-wrap ul li:nth-child(8),
.faq-grd-wrap ul li:nth-child(9){
	margin-bottom: 70px;
}
.faq-grd-wrap ul li:nth-child(3n+1){
	clear: left;
}
.faq-grd-item{
	background: #fff;
	position: relative;
}
.faq-grd-item-inner{
	display: flex;
	align-items: center;
	min-height: 290px;
}
.faq-grd-item-des{
	padding-left: 25px;
	padding-right: 20px;
}
.faq-grd-item-des h5{
	line-height: 30px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	padding-bottom: 25px;
}
.faq-grd-item-des h5 a{
	color: #1E1E1E;
}
.faq-grd-item-des h5 a:hover{
	color: #F3BF00;
}
.faq-grd-item-des p{
	margin-bottom: 25px;
	font-weight: normal;
}
.faq-grd-item-des > a{
	color: #ACABAB;
	font-weight: 700;
	padding-right: 32px;
	position: relative;
}
.faq-grd-item-des > a:after{
	content: "";
	background: url('../images/faq-right-arrow.svg');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 14px;
	width: 16px;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.faq-grd-item-des > a:hover{
	color: #F3BF00;
	padding-right: 40px;
}
.faq-grd-icon{
	position: absolute;
	top: -40px;
	left: 25px;
}



.faq-pagination{
	text-align: center;
}

.faq-pagination ul li a.page-numbers,
.faq-pagination ul li span{
	color: #BEBEBE;
	font-weight: 700;
	height: 48px;
	width: 48px;
	border: 4px solid #E2E2E2;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.faq-pagination ul li span.current{
	color: #1E1E1E;
	border: 4px solid #F3BF00;
}
.faq-pagination ul li a.page-numbers:hover{
	color: #1E1E1E;
	border: 4px solid #F3BF00;
}
.faq-pagination ul{
	padding-left: 0px;
    padding-bottom: 0px;
}
.faq-pagination ul li{
	display: inline-block;
    padding: 0 10px;
}
.faq-pagination ul li::before {
    display: none;
}
