.rm-faq-backlink-sec{
	padding: 50px 0;
}
.rm-faq-backlink-sec-inr a{
	color: #1E1E1E;
	text-transform: uppercase;
	font-weight: 700;
	padding-left: 40px;
	position: relative;
	transition: all 0.5s;
}
.rm-faq-backlink-sec-inr a i{
	position: absolute;
	top: -3px;
	left: 0;
}
.rm-faq-backlink-sec-inr a i svg{
	transition: all 0.5s;
}
.rm-faq-backlink-sec-inr a:hover{
	color: #F3BF00;
}
.rm-faq-backlink-sec-inr a:hover svg{
	fill: #F3BF00;
}

.rm-faq-content-sec{
	background: #F6F6F6;
	padding: 85px 0;
}
.rm-faq-cnt-sec-inr{
	background: #fff;
	box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
	position: relative;
	padding-bottom: 30px;
}
.rm-faq-cnt-sec-img{
	float: right;
	width: 40.5109%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	border-radius: 8px;
}
.rm-faq-cnt-sec-des{
	float: left;
	width: 59.489%;
	padding: 62px 105px 0px 40px;
}
.rm-faq-cnt-sec-des h2,
.faq-con-title{
	font-size: 48px;
	color:  #222020;
	line-height: 70px;
	margin: 0;
	padding-bottom: 20px;
	display: block;
}
.rm-faq-cnt-sec-des p{
	font-weight: normal;
	margin-bottom: 25px;
}
.rm-faq-cnt-sec-img img{
	display: none;
}
.rm-faq-content-sec .rm-faq-cnt-sec-des ul {
    padding-left: 0px;
}


@media(max-width: 1199px){
	.rm-faq-cnt-sec-des {
	    padding: 62px 50px 0px 40px;
	}
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 42px;
	    line-height: 60px;
	}
	
}

@media(max-width: 991px){
	.rm-faq-cnt-sec-des {
	    padding: 62px 20px 0px 40px;
	}
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 33px;
    	line-height: 50px;
	}
}

@media(max-width: 767px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	.rm-faq-content-sec {
	    padding: 40px 0 65px;
	}
	.rm-faq-cnt-sec-img{
		background: transparent!important;
		width: 100%;
		position: static;
	}
	.rm-faq-cnt-sec-img img{
		display: block;
		width: 100%;
		border-radius: 8px 8px 0 0;
	}
	.rm-faq-cnt-sec-des{
		width: 100%;
		padding: 30px 20px 20px 25px;
	}
	.rm-faq-cnt-sec-inr {
	    padding-bottom: 0px;
	}
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 35px;
    	line-height: 45px;
	}
	.rm-faq-backlink-sec{
		display: none;
	}
}

@media(max-width: 575px){
	
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 33px;
	    line-height: 45px;
	}
	.rm-faq-backlink-sec{
		padding: 40px 0 30px;
	}
}

@media(max-width: 479px){
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 30px;
	    line-height: 42px;
	    padding-bottom: 15px;
	}

}

@media(max-width: 359px){
	.rm-faq-cnt-sec-des h2,
	.faq-con-title {
	    font-size: 25px;
	    line-height: 35px;
	}
}
