header.header .hdr-topbar{
	background: #F3BF00;
	padding-top: 19px;
	border-bottom: 6px solid #1E1E1E;
}

.hdr-topbar-inr{
	position: relative;
}
.hdr-topbar-inr,
.hdr-btmbar-inr{
	padding-left: 380px;
}
.hdr-btmbar-inr{
	display: flex;
	align-items: center;
}
.logo{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
}
.logo a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 347px;
	position: relative;
}
.logo a:after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 20px;
    background: url(../images/logo-angle.png);
    width: 24px;
    height: 13px;
    background-size: 100% auto;
}
.hdr-rgt{
	display: flex;
	justify-content: flex-end;
}
.main-nav,
.hdr-social,
.hdr-sign-up{
	display: inline-block;
	vertical-align: baseline;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	font-size: 16px;
	line-height: 14px;
}
nav.main-nav ul li a{
	color: #1E1E1E;
	font-size: 16px;
	display: inline-block;
	vertical-align: baseline;
	position: relative;
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 22px;
	position: relative;
}
nav.main-nav > ul > li:after{
	content: ""!important;
	position: absolute;
	left: 50%;
	bottom: -6px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	border-bottom: 15px solid #1E1E1E;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	opacity: 0;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
nav.main-nav > ul > li.current-menu-item:after,
nav.main-nav > ul > li:hover:after{
	opacity: 1;
}

nav.main-nav > ul > li > a{
	color: #1E1E1E;
	padding-bottom: 25px;
}


nav.main-nav > ul > li.current-menu-item > a{
	font-weight: 600;
}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children > ul.sub-menu{
	position: absolute;
	top: 100%;
	left: 0;
	min-width: 205px;
	padding: 5px 0 5px 0;
	background: #fff;
	z-index: 30;
	box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.15);
    transform: scale3d(1,0,1);
    -ms-transform: scale3d(1,0,1);
    -webkit-transform: scale3d(1,0,1);
    transition: all .5s;
    -ms-transition: all .5s;
    -webkit-transition: all .5s;
    transform-origin: top;
    -ms-transform-origin: top;
    -webkit-transform-origin: top;
    opacity: 0;
}
nav.main-nav > ul > li.menu-item-has-children:hover > ul.sub-menu{
    transform: scale3d(1,1,1);
    -ms-transform: scale3d(1,1,1);
    -webkit-transform: scale3d(1,1,1);
    opacity: 1;
}
nav.main-nav ul.sub-menu li{
	padding: 10px 0;
	display: block;
	position: relative;
	border-bottom: 1px solid #eee;
}
nav.main-nav ul.sub-menu li:last-child{
	border-bottom: none;
}
nav.main-nav ul.sub-menu li a{
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
}
nav.main-nav ul.sub-menu li:hover a{
	color: #F3BF00;
}
nav.main-nav ul.sub-menu li:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #0055FF;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:after {
    position: absolute;
    content: ''!important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 2px;
    height: 0;
    background: #F3BF00;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}
nav.main-nav ul.sub-menu li:hover:after {
    height: 100%;
}




.hdr-social ul{
	padding-right: 36px;
}
.hdr-social ul li{
	display: inline-block;
	vertical-align: baseline;
	padding: 0 6px;
}
.hdr-social ul li a{
	width: 26px;
	height: 26px;
	border: 1px solid #1E1E1E;
	border-radius: 100% 100%;
	display: inline-block;
	vertical-align: baseline;
	text-align: center;
}
.hdr-social ul li a i {
    position: relative;
    top: -1px;
    line-height: 10px;
}
.hdr-social ul li a:hover,
.hdr-sign-up a:hover{
	border-color: #BF211E!important;
	color: #BF211E!important;
}
.hdr-social ul li a:hover i svg,
.hdr-sign-up a:hover i svg{
	fill: #BF211E!important;
}
.hdr-sign-up{
	padding-left: 42px;
	position: relative;
}
.hdr-sign-up:before {
    content: "";
    position: absolute;
    left: -1px;
    top: -4px;
    width: 2px;
    height: 32px;
    background: rgba(255, 255, 255, 0.54);
}
.hdr-sign-up a{
	display: flex;
	align-items: center;
	color: #1E1E1E;
	font-size: 14px;
	line-height: 19px;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
	top: -1px;
}
.hdr-sign-up a strong{
	font-weight: inherit;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}

.hdr-btmbar{
	padding-top: 30px;
	padding-bottom: 32px;
}

.hdr-search-form{
	max-width: 838px;
	width: 100%;
	padding-left: 35px;
	padding-right: 35px;
}
.rm-search-submit-btn button{
	width: 100%;
	height: 100%;
	background: transparent;
	border: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	line-height: 19px;
	text-transform: uppercase;
	position: relative;
	cursor: pointer;
	font-weight: 700;
}
.rm-search-submit-btn button:before{
	content: "";
	position: absolute;
	top: 8px;
	bottom: 8px;
	width: 1px;
	background: #DFDFDF;
	left: 0;
}
.rm-search-submit-btn button i{
	padding-right: 10px;
}
.rm-search-form form button:hover svg{
	fill: #F3BF00!important;
}
.rm-search-submit-btn button:hover{
	color: #F3BF00!important;
}
.rm-search-form input[type="search"]:focus{
	border-color: #F3BF00!important;
}
.rm-search-form{
	position: relative;
	width: 100%;
}
.rm-search-form input[type="search"]{
	width: 100%;
	height: 64px;
	border: 1px solid #DFDFDF;
	padding: 10px 214px 10px 30px;
	color: #838383;
	font-size: 14px;
	line-height: 19px;
}
.rm-search-submit-btn{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 180px;
}

.hdr-cart-btn a{
	width: 216px;
	height: 64px;
	color: #fff;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #BF211E;
	line-height: 22px;
	font-weight: 700;
}
.hdr-cart-btn a i{
	padding-right: 10px;
}
.hdr-cart-btn a:hover{
	background: #F3BF00;
}


.main-nav{
	order: 1;
}
.hdr-icons-cntlr{
	order: 2;
}
.xs-menu-bar{
	display: none;
}


@media(max-width: 1499px){
	.hdr-search-form {
	    max-width: 800px;
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.logo a{
		max-width: 320px;
	}
	.hdr-topbar-inr, .hdr-btmbar-inr {
	    padding-left: 345px;
	}
	.rm-search-submit-btn {
	    width: 150px;
	}
	.rm-search-form input[type="search"]{
		padding-right: 160px;
	}
	.hdr-btm-select-filter {
	    width: 316px;
	}
}

@media(max-width: 1399px){
	.hdr-cart-btn a{
		width: 180px;
	}
	.hdr-search-form {
	    max-width: 800px;
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.rm-search-form input[type="search"]{
		padding-left: 15px;
	}
	.rm-search-submit-btn {
	    width: 115px;
	}
	.rm-search-form input[type="search"] {
	    padding-right: 118px;
	}
	.logo a {
	    max-width: 260px;
	}
	.hdr-topbar-inr, .hdr-btmbar-inr {
	    padding-left: 285px;
	}

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){
	.hdr-btmbar-inr{
		padding-left: 0;
	}
	.logo a {
	    max-width: 227px;
	}
	.hdr-topbar-inr{
		padding-left: 250px;
	}
	.logo{
		top: -20px;
	}
	.hdr-btmbar{
		padding-top: 40px;
	}
	

}

@media(max-width: 991px){
	.main-nav > ul{
		float: right;
	}
	nav.main-nav > ul > li:last-child{
		padding-right: 0;
	}
	.logo a {
	    max-width: 200px;
	}
	.logo {
	    top: -10px;
	}
	.hdr-topbar-inr {
	    padding-left: 220px;
	}
	.hdr-social ul {
	    padding-right: 10px;
	}
	nav.main-nav > ul > li{
		padding: 0 12px;
	}
	.hdr-sign-up {
	    padding-left: 25px;
	}
	.hdr-sign-up a strong{
		display: none;
	}
	nav.main-nav > ul {
	    padding-right: 20px;
	}
}

@media(max-width: 767px){
	.xs-menu-bar{
		display: block;
	}
	.hdr-rgt{
		display: none;
	}
	.logo{
		position: static;
		text-align: center;
	}
	.logo a:after{
		display: none;
	}

	header.header .hdr-topbar{
		background: transparent;
		border-top: 8px solid #F3BF00;
		padding-top: 25px;
		padding-bottom: 25px;
		border-bottom: 2px solid #E5E5E5;
	}
	.hdr-cart-btn{
		display: none;
	}
	.hdr-btmbar{
		padding-top: 0;
	}
	.hdr-topbar-inr{
		padding-left: 0;
	}
	/*xs popup menu*/
	.xs-menu-bar{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		height: 63px;
		background: #1E1E1E;
		color: #fff;
		padding-left: 25px;
		z-index: 59;
		width: 100%;
	}
	.xs-menu-bar-inr{
		height: 100%;
		display: flex;
		align-items: center;
		width: 100%;
	}
	.xs-menu-bar-inr strong{
		font-weight: 700;
		text-transform: uppercase;
		display: inline-block;
		vertical-align: baseline;
		padding-left: 10px;
	}
	.xs-menu-bar-cart{
		position: absolute;
		right: 0;
		top: 0;
		bottom: 0;
		width: 64px;
		background: #BF211E;
		z-index: 50;
	}
	.xs-menu-bar-cart a{
		display: flex;
		width: 100%;
		height: 100%;
		align-items: center;
		justify-content: center;
	}
	.xs-pop-up-menu{
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		background: #272727;
		color: #fff;
		z-index: 60;
		text-align: center;
		display: none;
		overflow-y: scroll;
	}
	.xs-pop-up-menu-inr{
		position: relative;
		padding: 50px 20px 64px;
	}
	.xs-pop-up-menu .xs-menu-bar{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}
	.xs-sign-up{
		padding: 20px 0 22px;
		border-top: 2px solid #343434;
	}
	.hdr-sign-up{
		padding-left: 0
	}
	.hdr-sign-up:before{
		content: none;
	}
	.hdr-sign-up a strong{
		color: #fff;
	}
	.hdr-social ul li a{
		border-color: #fff;
	}
	.xs-social{
		padding-top: 10px;
		padding-bottom: 60px;
	}
	.xs-main-nav > ul > li{
		padding-bottom: 22px;
		padding-top: 22px;
	}
	.xs-main-nav ul li a{
		color: #fff;
		font-weight: 700;
		font-size: 18px;
		line-height: 25px;
		text-transform: uppercase;
	}
	.sub-menu{
		padding: 20px 0;
		display: none;
	}
	li.menu-item-has-children > a{
		position: relative;
		padding-right: 20px;
	}
	li.menu-item-has-children > a:after{
		content: "\f107"!important;
		font-family: 'Font Awesome 5 Free';
		font-weight: 600;
		text-decoration: inherit;
		color: #fff;
		font-size: 22px;
		padding-right: 0;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		right: 0;
		line-height: 15px;
	}

	li.menu-item-has-children > a.xs-sub-menu-expend:after{
		content: "\f106"!important;
	}
	/*.xs-pop-menu-con{
		overflow-y: scroll;
	}*/
	.xs-main-nav .sub-menu li{
		padding-top: 5px;
	}
	.xs-main-nav .sub-menu{
		padding-bottom: 0;
	}
	.xs-main-nav .sub-menu li a{
		font-size: 16px;
	}
	.hdr-sign-up a strong{
		display: inline-block;
	}

	/*end of xs popup menu*/
	.hdr-btmbar-inr{
		margin-left: -20px;
		margin-right: -20px;
		padding-right: 120px;
		min-height: 64px;
	}
	.hdr-btmbar{
		padding-bottom: 0;
	}
	header .hdr-search-form{
	    position: absolute;
	    right: 0;
	    top: 0;
	    bottom: 0;
	    max-width: initial;
	    width: 100px;;
	    padding-right: 0;
	    padding-left: 0;
	}
	header .rm-search-form-xs input[type="search"]{
		border-top: none;
		width: 0;
		display: none;
		padding: 20px 120px 15px 20px;
		font-weight: 700;
	}
	header .hdr-btm-select-filter {
	    width: 100%;
	}
	header .rm-search-form{
		padding-right: 0;
		height: 100%;
	}
	header .rm-search-submit-btn{
		width: 100px;
		border-left: 2px solid #E3E3E3;
		position: absolute!important;
		right: 0;
		top: 0;
		bottom: 0;
	}
	.hdr-btm-select-filter .rm-selctpicker-ctlr button.btn{
		border: none;
	}
	.rm-search-submit-btn button span{
		display: none;
	}
	.rm-search-form input[type="search"]{
		background: #fff;

	}

	header .rm-search-submit-btn{
		display: flex;
		align-items: center;
		justify-content: center;
		padding-right: 0;
		position: relative;
		z-index: 20;
	}
	header .rm-search-form-xs,
	header .rm-search-submit-btn,
	.rm-search-form-xs,
	header .rm-search-submit-btn,
	.rm-search-form-xs form{
		height: 100%;
	}
	.hdr-btmbar.hdr-btmbar-cntlr .hdr-search-form{
		width: 100%;
		background: #fff;
		width: 100%;
		left: 0;
	}
	.rm-search-form-xs{
		position: relative;
		z-index: 20;
		background: #fff;
	}
	header .hdr-btmbar.hdr-btmbar-cntlr .rm-search-form-xs input[type="search"]{
		width: 100%;
		color: #000;
		display: block;
	}

}

@media(max-width: 575px){
	
}

@media(max-width: 479px){


}

@media(max-width: 359px){

}


