header.header .hdr-topbar{
	background: #F3BF00;
	padding-top: 19px;
	border-bottom: 6px solid #1E1E1E;
}

.hdr-topbar-inr{
	position: relative;
}
.hdr-topbar-inr{
	padding-left: 380px;
}
.logo{
	position: absolute;
	top: 0;
	left: 0;
}
.hdr-rgt{
	display: flex;
	justify-content: flex-end;
}
.main-nav{
	display: inline-block;
	vertical-align: baseline;
}

nav.main-nav ul{

}
nav.main-nav ul li{
	
}
nav.main-nav ul li a{
	
}
nav.main-nav > ul{

}
nav.main-nav > ul > li{

}
nav.main-nav > ul > li > a{
	color: #1E1E1E;
}

nav.main-nav > ul > li.current-menu-item > a{

}

nav.main-nav > ul > li.menu-item-has-children > a{

}

nav.main-nav > ul > li.menu-item-has-children ul.sub-menu{
	
}
