/*
---------------------
overons-two-part-sec-wrp
---------------------
*/
.overons-two-part-sec-wrp{
	margin-top: 70px;
	position: relative;
	height: 920px;
}
.overons-two-part-rgt{
	float: right;
	width: 50%;
}
.overons-two-part-lft {
    width: 50%;
    float: left;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}
.overons-two-part-lft-img{
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 125px;
	z-index: 1;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center center !important;
	height: 920px !important
}
.ovr-two-grid-dsc{
	padding-top: 65px;
	padding-left: 15px;
}
.ovr-two-grid-dsc blockquote{
	border-left: 8px solid #F3BF00;
	font-size: 24px;
	line-height: 36px;
	color: #ACABAB;
	font-weight: 400;
	font-style: italic;
	padding: 16px 0 21px 25px;
	margin-bottom: 30px;
	margin-top: 35px;
}
.ovr-two-grid-dsc a{
	margin-top: 5px;
	border: 3px solid #F3BF00;
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.ovr-two-grid-dsc a:last-child{
	background:#fff;
	color: #F3BF00;
	margin-left: 15px;
}
.ovr-two-grid-dsc a:hover:first-of-type{
	background: #fff !important;
	color: #F3BF00;
}
.ovr-two-grid-dsc a:hover:last-child{
	background:#F3BF00;
	color: #fff;
}
/*
---------------------
overons-service-sec-wrp
----------------------
*/
.overons-service-sec-wrp{
	background:#F6F6F6;
	position: relative;
	padding-bottom: 100px;
}
.overons-justo-box {
    max-width: 788px;
    width: 100%;
    background: linear-gradient(171.11deg, #F9DC5C -0.05%, rgba(255, 255, 255, 0) 100%), #F3BF00;
    height: 224px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
    position: relative;
    z-index: 1;
    padding: 10px 20px;
}
.overons-justo-box h2{
	font-size: 48px;
	line-height: 52px;
	color: #fff;
	margin: 0;
}
.overons-service-wrp {
    padding-top: 95px;
    position: relative;
}
.overons-service-wrp ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.overons-service-wrp ul li{
	float: left;
	width: 33.3333%;
	padding: 15px 50px 50px;
	border-right: 2px solid #eaeaea;
}
.overons-service-wrp ul li:last-child{
	border-right: 0;
}
.overons-service-box-dsc{
	text-align: center;
}
.overons-service-box-dsc i{
	display: inline-block;
	vertical-align: baseline;
}
.overons-service-box-dsc h4{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	margin-top: 20px;
	margin-bottom: 20px;
}
.overons-de-post-sec{
	padding-bottom: 75px;
}
.overons-de-post-sec .hm-de-kijker-post-wrp{
	padding-top: 15px;
}
.overons-de-post-sec .hm-download-btn {
    padding-top: 50px;
}

@media(max-width: 1499px){

}

@media(max-width: 1399px){
	.overons-two-part-lft-img{
		right: 80px;
	}
}

@media(max-width: 1299px){
	.overons-service-wrp ul li {
	    padding: 15px 40px 50px;
	}
}

@media(max-width: 1199px){
	.overons-two-part-lft-img {
	    right: 30px;
	}
	.ovr-two-grid-dsc {
	    padding-top: 50px;
	    padding-left: 0;
	}
	.ovr-two-grid-dsc a{
		padding: 22px 50px;
	}
	.overons-justo-box h2{
		font-size: 44px;
		line-height: 48px;
	}
	.overons-service-wrp ul li {
	    padding: 15px 30px 40px;
	}
	.overons-service-box-dsc h4 {
	    margin-top: 15px;
	    margin-bottom: 15px;
	}
}

@media(max-width: 991px){
	.overons-two-part-sec-wrp {
	    height: auto;
	    padding-bottom: 130px;
	}
	.overons-two-part-lft {
	    width: 100%;
	    position: static;
	    padding: 0 20px;
	}
	.overons-two-part-lft-img {
	    position: static;
	    height: 600px !important;
	}
	.overons-two-part-rgt {
	    float: left;
	    width: 100%;
	}
	.overons-justo-box {
	    max-width: 788px;
	    width: 100%;
	    height: 150px;
	    margin-top: -70px;
	}
	.overons-justo-box h2{
		font-size: 40px;
		line-height: 44px;
	}
	.ovr-two-grid-dsc {
	    padding-top: 40px;
	}
	.overons-service-wrp ul li {
	    padding: 15px 10px 40px;
	}
	.overons-service-box-dsc h4 {
	    font-size: 21px;
	    line-height: 23px;
	}
	.overons-service-wrp {
	    padding-top: 75px;
	}
	.overons-service-sec-wrp {
	    padding-bottom: 80px;
	}
}

@media(max-width: 767px){
	.overons-justo-box h2 {
	    font-size: 34px;
	    line-height: 40px;
	}
	.ovr-two-grid-dsc a {
	    padding: 15px 40px;
	}
	.overons-two-part-lft-img {
	    height: 500px !important;
	}
	.overons-two-part-sec-wrp {
	    padding-bottom: 110px;
	    margin-top: 50px;
	}
	.overons-service-wrp {
	    padding-top: 60px;
	}
	.overons-service-sec-wrp {
	    padding-bottom: 40px;
	}
	.overons-service-wrp ul li {
	    padding: 0 10px 0;
	    float: none;
	    border: 0;
	}
	.overons-service-box-dsc {
	    text-align: center;
	    max-width: 400px;
	    width: 100%;
	    margin: 0 auto;
	}
	.overons-service-wrp .dft-slider-pagi.slick-dotted.slick-slider {
	    margin-bottom: 10px !important;
	}

}

@media(max-width: 575px){
	.overons-justo-box h2{
		font-size: 32px;
		line-height: 36px;
		text-align: center;
	}
	.overons-two-part-lft-img {
	    height: 400px !important;
	}
	.ovr-two-grid-dsc blockquote {
	    font-size: 22px;
	    line-height: 34px;
	    padding: 10px 0 15px 15px;
	    margin-top: 30px;
	}
}

@media(max-width: 479px){
	.overons-justo-box h2 {
	    font-size: 30px;
	    line-height: 36px;
	    text-align: center;
	}
	.ovr-two-grid-dsc a {
	    padding: 15px 40px;
	    display: table;
	    margin: 0 auto;
	}
	.ovr-two-grid-dsc a:last-child{
		margin-left: auto;
		margin-top: 20px;
	}
	.overons-two-part-lft-img {
	    height: 350px !important;
	}

}

@media(max-width: 359px){

}