/*===================
  breadcrumbs design
====================*/
.breadcrumbs-sec{
  background: #F6F6F6;
  padding: 32px 0 36px;
}
.page-title{
  display: block;
  font-family: 'Oswald',  sans-serif;
  font-size: 48px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #1E1E1E;
}
.breadcrumbs-lft-text{
  width: 25%;
  float: left
}
.breadcrumbs-main{
  width: 75%;
  float: left;
  padding-left: 20px;
  padding-top: 18px;
}
.breadcrumbs-main ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-main ul::after,
.breadcrumbs-main ul::before{
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs-main ul {
  float: right;
}
.breadcrumbs-main ul li{
  padding: 0;
  padding-left: 11px;
  padding-right: 43px;
  position: relative;
  float: left;
}
.breadcrumbs-main ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 22px;
  color: #1E1E1E;
}
.breadcrumbs-main ul li a:hover{
  color: #F3BF00;
}
.breadcrumbs-main ul li::after {
  content: "";
  width: 27px;
  height: 8px;
  background: url(../images/breadcrumbs-array.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.breadcrumbs-main ul li::before {
  content: none;
}
.breadcrumbs-main ul li:last-child{
  padding-right: 0;
}
.breadcrumbs-main ul li:first-child{
  padding-left: 25px;
}
.breadcrumbs-main ul li:first-child::before{
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/breadcrumbs-home.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.breadcrumbs-main ul li:last-child::after{
  content: none;
}

/*
------------------
cookie-policy
------------------
*/
.cookie-policy-wrp{
  position: absolute;
  right: 110px;
  bottom: -25px;
}
.cookie-policy-dsc{
  background: #F3BF00;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 30px 40px 25px;
  color: #fff;
  max-width: 451px;
  width: 100%;
  text-align: left;
  position: relative;
}
.cookie-policy-dsc span {
    display: inline-block;
    vertical-align: baseline;
    position: absolute;
    right: 19px;
    top: 14px;
}
.cookie-policy-dsc span i{
  display: inline-block;
  vertical-align: baseline;
}
.cookie-policy-dsc p{
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
.cookie-policy-dsc h4{
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
}
.cookie-policy-dsc > a {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding-right: 35px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.cookie-policy-dsc > a:after{
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  background-image: url(../images/cookie-arrows.svg);
  background-repeat: no-repeat;
  background-size: 15px 10px;
  width: 15px;
  height: 10px;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.cookie-policy-dsc > a:hover:after{
  right: -5px;
}
.cookie-btn {
  margin-top: 20px;
}
.cookie-btn a{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #1E1E1E;
  font-weight: 700;
  background: #fff;
  padding: 14px 38px;
  text-transform: uppercase;
}
.cookie-btn a:hover{
  color: #f4bf01;
}





