.breadcrumbs-sec{
  background: #F6F6F6;
  padding: 32px 0 36px;
}
.page-title{
  display: block;
  font-family: 'Oswald',  sans-serif;
  font-size: 48px;
  line-height: 53px;
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: #1E1E1E;
}
.breadcrumbs-lft-text{
  width: 25%;
  float: left
}
.breadcrumbs-main{
  width: 75%;
  float: right;
  padding-left: 20px;
  padding-top: 18px;
}
.breadcrumbs-main ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumbs-main ul::after,
.breadcrumbs-main ul::before{
  content: "";
  display: table;
  clear: both;
}
.breadcrumbs-main ul {
  float: right;
}
.breadcrumbs-main ul li{
  padding: 0;
  padding-left: 11px;
  padding-right: 43px;
  position: relative;
  float: left;

}
.breadcrumbs-main ul li.wclist{
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 22px;
    color: #1E1E1E;
}
.breadcrumbs-main ul li a {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 22px;
  color: #1E1E1E;
}
.breadcrumbs-main ul li a:hover{
  color: #F3BF00;
}
.breadcrumbs-main ul li::after {
  content: "";
  width: 27px;
  height: 8px;
  background: url(../images/breadcrumbs-array.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.breadcrumbs-main ul li::before {
  content: none;
}
.breadcrumbs-main ul li:last-child{
  padding-right: 0;
}
.breadcrumbs-main ul li:first-child{
  padding-left: 25px;
}
.breadcrumbs-main ul li:first-child::before{
  content: "";
  width: 16px;
  height: 16px;
  background: url(../images/breadcrumbs-home.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.breadcrumbs-main ul li:last-child::after{
  content: none;
}


.breadcrumbs-left{
  float: left;
}
.breadcrumbs-right{
  float: right;
}
.breadcrumbs-left a{
  font-size: 16px;
  color: #1E1E1E;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 25px;
  position: relative;
}
.breadcrumbs-left a:before{
  content: "";
  height: 16px;
  width: 16px;
  position: absolute;
  background: url(../images/breadcrumbs-home.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.breadcrumbs-right a{
  font-size: 16px;
  color: #1E1E1E;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 40px;
  position: relative;
}
.breadcrumbs-right a:before{
  content: "";
  height: 8px;
  width: 28px;
  position: absolute;
  background: url(../images/breadcrumbs-left-arrow.svg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}


/*
-----------------
Start sitemap
-----------------
*/
.sitemap{
  padding:50px 0 80px;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.sitemap ul ul {
   margin-left: 30px;
  padding-top: 12px;
}

.sitemap ul li {
  padding: 10px 0;
}

.sitemap ul li a{
  display: inline-block;
  vertical-align: baseline;
  color: #1E1E1E;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  padding-bottom: 15px;
}
.sitemap ul li a:hover{
  color: #f4bf01;
}
.sitemap ul li a:focus{
  text-decoration: underline;
}
.sitemap h2 {
  margin: 0;
  padding-bottom: 30px;
}


/*
------------------
cookie-policy
------------------
*/
.catapult-cookie-wrp{
    position: fixed;
    right: 110px;
    top: 53%;
    z-index: 99;
}
.catapult-cookie-bar{
  background: #F3BF00;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
  padding: 30px 40px 25px;
  color: #fff;
  max-width: 451px;
  width: 100%;
  text-align: left;
  position: relative;
}
.catapult-cookie-topbar strong{
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  right: 19px;
  top: 14px;
  cursor: pointer;
}
.catapult-cookie-topbar i{
  display: inline-block;
  vertical-align: baseline;
}
.catapult-cookie-bar span{
  display: block;
}
span.ctcc-left-side{
  margin-bottom: 22px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}
span.ctcc-left-side h4{
  margin: 0;
  margin-top: 18px;
  margin-bottom: 18px;
  font-family: 'Open Sans', sans-serif;
}
span.ctcc-left-side a {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  padding-right: 35px;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  position: relative;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  margin-top: 25px;
}
span.ctcc-left-side a:after{
  content: "";
  position: absolute;
  right: 0;
  top: 3px;
  background-image: url(../images/cookie-arrows.svg);
  background-repeat: no-repeat;
  background-size: 15px 10px;
  width: 15px;
  height: 10px;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
span.ctcc-left-side a:hover:after{
  right: -5px;
}
.cookie-btn {
  margin-top: 20px;
}
span.catapultCookieBtn button{
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  color: #1E1E1E;
  font-weight: 700;
  background: #fff;
  padding: 14px 38px;
  text-transform: uppercase;
  cursor: pointer;
}
span.catapultCookieBtn button:hover{
  color: #f4bf01;
}

/*
  Slider Pagination
*/

.dft-slider-pagi2 .slick-dots,
.dft-slider-pagi .slick-dots{
  position: relative;
  top: 12px;
}
.dft-slider-pagi .slick-dots li{
  background-image: url(../images/dft-slider-pagi-1.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 14px;
  width: 16px;
  height: 16px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: baseline;
  float: none;
}
.dft-slider-pagi2 .slick-dots li{
  background-image: url(../images/dft-slider-pagi-3.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 14px 14px;
  width: 16px;
  height: 16px;
  padding: 0 5px;
  display: inline-block;
  vertical-align: baseline;
  float: none;
}
.dft-slider-pagi2 .slick-dots li,
.dft-slider-pagi2 .slick-dots li button,
.dft-slider-pagi2 .slick-dots li button::before,
.dft-slider-pagi .slick-dots li,
.dft-slider-pagi .slick-dots li button,
.dft-slider-pagi .slick-dots li button::before{
  width: 25px;
  height: 25px;
  margin: 1px;
  padding: 0;
}
.dft-slider-pagi2 .slick-dots li button::before,
.dft-slider-pagi .slick-dots li button::before{
  content: "";
}
.dft-slider-pagi .slick-dots li.slick-active{
  background-image: url(../images/dft-slider-pagi-2.svg);
  background-repeat: no-repeat;
}
.dft-slider-pagi2 .slick-dots li.slick-active{
  background-image: url(../images/dft-slider-pagi-4.svg);
  background-repeat: no-repeat;
}
.dfp-promo-module.notopimg {
    position: relative;
}

.error-404-wrap h1 {
    display: inline-block;
    padding: 12px 20px 12px 60px;
    position: relative;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 11;
    border-right: 3px solid #F3BF00;
    font-weight: 700;
    margin-bottom: 20px;
}
.error-404-wrap h1:before, .error-404-wrap h1:after {
    content: "";
    position: absolute;
    right: 0;
    background: #F3BF00;
}
.error-404-wrap h1:after {
    top: 0;
    width: 48%;
    height: 3px;
    background: #F3BF00;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.error-404-wrap h1:before {
    bottom: 0;
    width: 92%;
    height: 3px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
.error-404-wrap a.btn {
    display: inline-block;
    vertical-align: baseline;
    text-decoration: none;
    border: 2px solid #F3BF00;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 16px;
    color: #F3BF00;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 45px;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    margin-top: 20px;
}
.error-404-wrap a.btn:hover {
    background: #F3BF00;
    color: #fff;
}
@media(min-width: 991px){
  .dft-slider-pagi .slick-dots li:hover{
    background-image: url(../images/dft-slider-pagi-2.svg);
    background-repeat: no-repeat;
  }
  .dft-slider-pagi2 .slick-dots li:hover{
    background-image: url(../images/dft-slider-pagi-4.svg);
    background-repeat: no-repeat;
  }
}
.dft-slider-pagi2 .slick-dots li::before,
.dft-slider-pagi .slick-dots li::before {
  content: none!important;
}











@media(max-width: 1499px){
  .single-pro-rgt-con {
    padding-left: 80px;
  }
  
}

@media(max-width: 1399px){

}

@media(max-width: 1299px){

}

@media(max-width: 1199px){


}

@media(max-width: 991px){

  
}

@media(max-width: 767px){
  .breadcrumbs-lft-text {
    width: 100%;
    float: left;
    text-align: center;
    background: #fff;
    padding: 15px 0 15px;
  }
}

@media(max-width: 575px){


}

@media(max-width: 479px){


}

@media(max-width: 359px){

}