.single-pro-details-sec{
  background: #F6F6F6; 
  padding: 80px 0 80px;
}
.single-pro-lft-con{
  width: 49%;
  float: left;
  padding: 100px 55px 85px 25px;
  background:#fff;
}
.bigViewSlider-wrp {
  width: 77%;
  float: right;
  padding-left: 35px;
}
.bigViewSlider-item {
  padding: 0;
  position: relative;
  text-align: center;
}
.bigViewSlider-item > img{
  display: inline-block!important;
  vertical-align: middle;
  max-width: 433px;
  width: 100%;
}
.bigViewSlider .bigViewSlider-item{
  display: none !important;
}
.bigViewSlider .bigViewSlider-item:first-child{
  display: block !important;
}
.bigViewSlider.slick-initialized .bigViewSlider-item{
  display: block !important;
}
.thumbSlider-wrp{
  float: left;
  width:  23%;
  position: relative;
}
.thumbSlider-item-img { 
  margin-bottom: 7px;
  padding:0;
  display: inline-block;
  vertical-align: baseline;
}
.thumbSlider-item i {
  display: block;
  margin: 0 auto; 
  max-width: 132px;
}
.thumbSlider-item i img {
  width: 100%;
  border: 2px solid #F6F6F6;
  /* border: 2px solid #f11; */
}
.slider-pro-thumb-slider-wrp{
  position: relative;
}
.thumbSlider-arrows > .leftArrow{
  position: absolute;
  top:-48px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 5;
  cursor: pointer;
  color: #1E1E1E;
  font-size: 22px;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.thumbSlider-arrows > .rightArrow{
  position: absolute;
  bottom: -40px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 5;
  cursor: pointer;
  color: #1E1E1E;
  font-size: 22px;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.thumbSlider-arrows > .leftArrow:hover,
.thumbSlider-arrows > .rightArrow:hover{
  color: #F3BF00;
}

.testimonialsSlider .testimonialsSlider-item{
  display: none;
}
.testimonialsSlider .testimonialsSlider-item:nth-child(1){
  display: block;
}
.testimonialsSlider .testimonialsSlider-item:nth-child(2){
  display: block;
}
.testimonialsSlider .testimonialsSlider-item:nth-child(3){
  display: block;
}
.testimonialsSlider.slick-initialized .testimonialsSlider-item{
  display: block;
}






.single-pro-rgt-con{
  width: 51%;
  float: left;
  padding-top: 18px;
  padding-left: 140px;
}
.single-pro-rgt-con > strong.price{
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #BF211E;
  display: block;
  margin-bottom: 3px;
}
.single-pro-rgt-con > h2{
  font-family: 'Open Sans', sans-serif;
  font-size: 48px;
  line-height: 45px;
}
.single-pro-rgt-con > span{
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #F3BF00;
  display: block;
  margin-bottom: 30px;
}
.single-pro-rgt-con > p{
  margin-bottom: 20px;
}
.single-pro-filter-wrp{
  border:solid #FFFFFF;
  border-width: 3px 0 3px;
  padding: 25px 0 8px
}
.single-pro-filter-wrp h6{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222020;
  margin-bottom: 10px;
}
.color-filter{
  padding-bottom: 20px;
}
.feature-filter-btn input[type=radio],
.feature-filter-btn input[type=checkbox]{
  display:none;
}
.feature-filter-btn input[type=radio] + label,
.feature-filter-btn input[type=checkbox] + label{
  display:inline-block;
  margin:0;
  margin-right: 7px;
  margin-bottom: 14px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0;
  padding: 6px 12px;
  width: 136px;
  height: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #1E1E1E;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.feature-filter-btn input[type=radio] + label:hover,
.feature-filter-btn input[type=checkbox] + label:hover,
.feature-filter-btn input[type=radio]:checked + label,
.feature-filter-btn input[type=checkbox]:checked + label{
  outline: 0;
  background-color: #1E1E1E;
  color: #fff;
  border: none;
}
.pro-calendar{
  padding: 32px 0 35px;
  display: flex;
  align-items: center;
}
.pro-calendar i{
  display: inline-block;
  vertical-align: baseline;
  width: 32px;
  padding-right: 0;
  cursor: pointer;
  position: relative;
  top: -1px;
}
.pro-calendar span{
  padding-left: 10px;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  color: #222020;
}
.pro-counter{
  width: 140px;
  float: left;
  padding-bottom: 20px;
}
.pro-counter .qty{
  width: 116px;
  height: 56px;
  position: relative;
  color: #fff;
  background-color: #fff;
  border:0;
}
.pro-counter .qty .plus,
.pro-counter .qty .minus{
  cursor: pointer;
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  z-index: 2;
  color: #C6C6C6;
  font-weight: 700;
  font-size: 13px;
  line-height: 22px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pro-counter .qty .minus {
  left: 15px;
}
.pro-counter .qty .plus {
  right: 15px;
}
.pro-counter .qty input[type="number"]{  
  width: 12px;
  border: none;
  background: transparent;
  -moz-appearance:textfield;
  appearance: none;
  opacity: 1;
  font-weight: 500;
  width:100%;
  height: 100%;
  text-align:center;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: #1E1E1E;
}         
.pro-counter .qty input[type=number]::-webkit-inner-spin-button, 
.pro-counter .qty input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
  opacity: 0;
}
.pro-counter .qty i.fa{
  margin-top: 0;
  -ms-transition:all .3s ease;
  -webkit-transition:all .3s ease;
  transition:all .3s ease;
}
.pro-counter .qty i.fa:hover{
  color: #F3BF00;
}
.pro-cart-btn{
  width: 220px;
  float: left;
}
.pro-cart-btn a{
  display: block;
  text-align: center;
  width: 100%;
  height: 56px;
  background: #BF211E;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  padding: 15px 10px;
  border: 2px solid #BF211E;
}
.pro-cart-btn a:hover{
  color: #BF211E;
  background: #fff;

}
.pro-cart-btn a i{
  display: inline-block;
  vertical-align: baseline;
  padding-right: 5px;
}
.pro-cart-btn a i svg{
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.pro-cart-btn a:hover i svg{
  fill: #BF211E!important;
}
.pro-description-sec{
  padding-top: 80px;
}
.pro-description-innr{
  padding-bottom: 86px;
  border-bottom: 2px solid #F6F6F6;
}
.pro-description-lft{
  width: 67.75%;
  float: left;
  padding-right: 142px;
}
.pro-description-rgt{
  width: 32.25%;
  float: left;
}
.pro-description-lft h2{
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #222020;
  margin-bottom: 25px;
}
.pro-description-lft p{
  margin-bottom: 23px;
}
.pro-description-lft ul{
  padding-top: 7px;
}
.pro-description-bq{
  background: #F3BF00;
  padding: 40px 25px 30px 40px;
}
.pro-description-bq i{
  display: inline-block;
  vertical-align: baseline;
  max-width: 58px;
  margin-bottom: 20px;
}
.pro-description-bq i img{
  width: 100%;
}
.pro-description-bq p{
  font-style: italic;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 25px;
}
.organize-party-sec{
  padding-top: 70px;
}
.organize-party-head{
  max-width: 870px;
  padding-bottom: 38px;
}
.organize-party-head h2{
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #222020;
  margin-bottom: 23px;
}
.organize-party-head p{
  margin-bottom: 20px;
}
.organizePartySlider-item{
  float: left;
  width: 20%;
  padding: 0 10px 25px;
  position: relative;
}
.organizePartySlider-img{
  min-height: 103px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}
.organizePartySlider-img i{
  display: inline-block;
  vertical-align: baseline;
}
.organizePartySlider-img img{
  display: inline-block!important;
  vertical-align: middle!important;
}
.organizePartySlider-item h6{
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.organize-party-bg-wrp{
  margin-top: 38px;
  position: relative;
}
.organize-party-bg-slider-item{
  width: 33.333%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.organize-party-bg-slider .slick-current.slick-slide .organize-party-bg-slider-item{
  padding-left: 0;
}
.organize-party-bg-slider .slick-current.slick-slide + .slick-slide + .slick-slide .organize-party-bg-slider-item{
  padding-right: 0;
}
.organize-party-bg-innr{
  position: relative;
  overflow: hidden;  
}
.organize-party-bg-main{
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  min-height: 440px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

@media(min-width: 991px){
  .organize-party-bg-innr:hover .organize-party-bg-main{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}
.organizeSlider-arrows .leftArrow{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  z-index: 15;
  cursor: pointer;
}
.organizeSlider-arrows .rightArrow{
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 36px;
  height: 36px;
  background: #FFFFFF;
  display: inline-block;
  vertical-align: baseline;
  text-align: center;
  z-index: 15;
  cursor: pointer;
}
.organizeSlider-arrows i {
  display: inline-block;
  vertical-align: baseline;
  color: #1E1E1E;
  line-height: 37px;
  font-size: 22px;
}
.organizeSlider-arrows .leftArrow.slick-hidden,
.organizeSlider-arrows .rightArrow.slick-hidden {
  display: none;
}
.interested-pro-item-sec{
  padding-top: 70px;
  padding-bottom: 85px;
}
.interested-pro-item-sec h2{
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #222020;
  margin-bottom: 68px;
}
.interested-pro-item-slider-wrp{
  max-width: 1045px;
}
.interestedItemSlider{
  margin-left: -12px;
  margin-right: -12px;  
}
.interestedItemSlider .slick-list {
  padding-bottom: 20px;
}
.interestedItemSlider-item{
  width: 33.333%;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
.interestedItemSlider-item-innr{
  background: #fff;
  -webkit-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
}
.interestedItemSlider-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  min-height: 280px;
}
.interestedItemSlider-img a{
  display: inline-block;
  vertical-align: baseline;
}
.interestedItemSlider-item-innr:hover .interestedItemSlider-img img{
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
.interestedItemSlider-des{
  padding: 0 22px 22px;
}
.interestedItemSlider-des h5 {
  margin-bottom: 0;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.interestedItemSlider-des h5 a{
  color: #1E1E1E;
}
.interestedItemSlider-des h5 a:hover{
  color: #F3BF00;
}
.interestedItemSlider-des span{
  display: block;
  font-size: 14px;
  color: #ACABAB;
  margin-bottom: 25px;
}
.interestedItemSlider-des strong{
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #BF211E;
}
.interestedItemSlider-btm-lnc{
  border-top: 1px solid #F6F6F6;
  padding-top: 20px;
  margin-top: 25px;
}
.interestedItemSlider-btm-lnc a{
  display: inline-block;
  vertical-align: baseline;
}
.interestedItemSlider-btm-lnc a:first-child{
  float: left;
  font-weight: 700;
  line-height: 22px;
  color: #ACABAB;
  position: relative;
  padding-right: 35px;
}
.interestedItemSlider-btm-lnc a:first-child:hover{
  color: #F3BF00;
  padding-right: 40px;
}
.interestedItemSlider-btm-lnc a:first-child::after{
  position: absolute;
  right: 0;
  top: 1px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f061";
  color: #ACABAB;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.interestedItemSlider-btm-lnc a:first-child:hover::after{
  color: #F3BF00;
}
.interestedItemSlider-btm-lnc a:last-child{
  float: right;
  padding-left: 15px;
}
.interestedItemSlider-btm-lnc a:last-child svg{
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.interestedItemSlider-btm-lnc a:last-child:hover svg{
  fill: #F3BF00;
}
.organizePartySlider.dft-slider-pagi .slick-dots {
  top: -20px;
}
.organizePartySlider.dft-slider-pagi.slick-dotted{
  margin-bottom: 10px!important;
}












@media(max-width: 1499px){
  .single-pro-rgt-con {
    padding-left: 80px;
  }
}

@media(max-width: 1399px){
  .pro-description-lft {
    width: 63%;
    float: left;
    padding-right: 50px;
  }
  .pro-description-rgt {
    width: 37%;
    float: left;
  }

}

@media(max-width: 1299px){
  .single-pro-rgt-con {
    padding-left: 40px;
  }
}

@media(max-width: 1199px){
  .thumbSlider-wrp {
    width: 100%;
    margin: auto;
    max-width: 300px;
    float: none;
    margin-top: 30px;
  }
  .bigViewSlider-wrp {
      width: 100%;
      padding-left: 0;
      float: none;
  }
  .thumbSlider-arrows > .leftArrow{
    top:50%;
    left: -20px;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .thumbSlider-arrows > .rightArrow{
    bottom: initial;
    left: auto;
    top:50%;
    right: -20px;
    -ms-transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .thumbSlider-item i {
    padding: 5px;
  }
  .thumbSlider-arrows > .leftArrow .fa-angle-up::before {
    content: "\f104";  
  }
  .thumbSlider-arrows > .rightArrow .fa-angle-down::before{
    content: "\f105";  
  }
  .single-pro-lft-con {
    padding: 50px 25px 60px;
  }
  .single-pro-rgt-con {
    padding-left: 30px;
  }
  .pro-description-bq {
    background: #F3BF00;
    padding: 40px 20px 40px;
  }
  .pro-description-bq p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 22px;
  }
  .organize-party-bg-main {
    min-height: 350px;
  }
}

@media(max-width: 991px){
  .single-pro-details-sec {
    padding: 50px 0;
  }
  .single-pro-lft-con {
    width: 100%;
    padding: 50px 20px;
  }
  .single-pro-rgt-con {
    width: 100%;
    float: left;
    padding: 30px 50px 20px;
  }
  .pro-description-bq p {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 20px;
  }
  .pro-description-bq i {
    margin-bottom: 15px;
  }
  .pro-description-lft {
    padding-right: 30px;
  }
  .pro-description-sec {
    padding-top: 50px;
  }
  .pro-description-innr {
    padding-bottom: 50px;
  }
  .single-pro-details-sec {
    padding: 50px 0 20px;
  }
  .organize-party-sec {
    padding-top: 50px;
  }
  .organize-party-bg-slider .slick-current.slick-slide + .slick-slide .organize-party-bg-slider-item{
    padding-right:0;
  }
  .interested-pro-item-sec h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 30px;
  }
  .single-pro-rgt-con > h2 {
    font-size: 45px;
    line-height: 42px
  }
  .pro-description-lft h2 {
    font-size: 33px;
    line-height: 38px;
    margin-bottom: 20px;
  }
  .interested-pro-item-sec {
    padding-top: 55px;
    padding-bottom: 40px;
  }
}

@media(max-width: 767px){
  .bigViewSlider-wrp {
    background: #fff;
  }
  .thumbSlider-wrp {
    width: 100%;
    margin: auto;
    max-width: initial;
    float: none;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
    background: #fff;
  }
  .single-pro-lft-con {
    background: #F6F6F6;
  }
  .pro-description-lft {
    width: 100%;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .pro-description-rgt {
    width: 100%;
  }
  .pro-description-bq {
    max-width: 500px;
    margin: 0 auto;
  }
  .single-pro-lft-con {
    padding: 50px 0;
  }
  .thumbSlider-wrp-innr-con{
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }
  .thumbSlider-item i img {
    border: 0;
  }
  .bigViewSlider-item {
    padding: 45px 20px;
    position: relative;
    text-align: center;
  }
  .organize-party-bg-main {
    min-height: 250px;
  }  
  .interested-pro-item-sec h2 {
    font-size: 30px;
    line-height: 35px;
  }  
  .single-pro-rgt-con > h2 {
    font-size: 40px;
    line-height: 40px
  }
  .pro-description-lft h2 {
    font-size: 30px;
    line-height: 35px;
  }  
  .organize-party-bg-wrp{
    overflow: hidden;
  }
  .organize-party-bg-wrp .organize-party-bg-slider{
    margin-left: -8px;
    margin-right: -8px;
  }
}

@media(max-width: 575px){
  .single-pro-rgt-con {
    padding: 30px 0 20px;
  }
  .organize-party-bg-slider .slick-current.slick-slide .organize-party-bg-slider-item{
    padding-right:0;
  }  
  .interested-pro-item-sec h2 {
    font-size: 26px;
    line-height: 32px;
  } 
  .single-pro-rgt-con > h2 {
    font-size: 33px;
    line-height: 33px
  }
  .pro-description-lft h2 {
    font-size: 26px;
    line-height: 32px;
  }  
}

@media(max-width: 479px){
  .feature-filter-btn input[type=radio] + label, 
  .feature-filter-btn input[type=checkbox] + label {
    width: 130px;
  }
  .pro-counter {
    width: 130px;
  }
  .pro-cart-btn {
    width: 150px;
    float: left;
  }
  .pro-cart-btn a i svg {
    width: 22px!important;
    height: 20px!important;
  }
  .pro-counter .qty .plus, .pro-counter .qty .minus {
    font-size: 15px;
  }
}

@media(max-width: 359px){

}
