#overview-organize-party-sec{
  padding: 86px 0 55px;
}
#overview-organize-party-sec{
  padding: 86px 0 55px;
}
@media(min-width: 1199px){
  #overview-organize-party-sec .organizePartySlider-item::after{
    content: "";
    position: absolute;
    right: -15px;
    top: 38px;
    background: url(../images/organize-party-indicator.svg)no-repeat center center;
    background-size: 100% 100%;
    width: 30px;
    height: 9px;
  } 
  #overview-organize-party-sec .organizePartySlider-item:nth-child(5)::after{
    content: none!important;
  }
  #overview-organize-party-sec .slick-current+.slick-slide+.slick-slide+.slick-slide+.slick-slide .organizePartySlider-item::after {
    content: none!important;  
  }
}
.pro-overview-main-sec{
  background: #F6F6F6;
  padding: 75px 0 50px;
}
.pro-overview-sidebar-con{
  width: 25.5%;
  float: left;
  padding-right: 24px;
}
.pro-overview-grid-head,
.pro-overview-sidebar-head {
  border-bottom: 2px solid #FFFFFF;
}
.pro-overview-grid-head h4,
.pro-overview-sidebar-head h4{
  line-height: 30px;
  text-transform: uppercase;
  color: #222020;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 15px;
}
.pro-overview-sidebar-cat{
  padding-bottom: 52px;
}
.pro-overview-sidebar-cat ul {
  margin-top: 30px;
}
.pro-overview-sidebar-cat ul li{
  padding: 0;
  margin-bottom: 5px;
}
.pro-overview-sidebar-cat ul li::before{
  content: none!important;
}
.pro-overview-sidebar-cat ul li a{
  line-height: 22px;
  color: #1E1E1E;
  position: relative;
  padding: 13px 10px 10px 70px;
  display: block;
  width: 100%;
  min-height: 48px;
}
.pro-overview-sidebar-cat ul li.active a,
.pro-overview-sidebar-cat ul li a:hover{
  color: #fff;
  background: #BF211E;
}
.pro-overview-sidebar-cat ul > li > a > i {
  display: inline-block;
  vertical-align: baseline;
  max-width: 26px;
  position: absolute;
  left: 27px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;

}
.pro-overview-sidebar-cat ul > li > a > i img{
  width: 100%;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.pro-overview-sidebar-cat ul > li > a > i img:nth-child(1){
  display: inline-block
}
.pro-overview-sidebar-cat ul > li > a > i img:nth-child(2){
  display: none;
}
.pro-overview-sidebar-cat ul > li.active > a > i img:nth-child(1),
.pro-overview-sidebar-cat ul > li > a:hover > i img:nth-child(1){
  display: none  
}
.pro-overview-sidebar-cat ul > li.active > a > i img:nth-child(2),
.pro-overview-sidebar-cat ul > li > a:hover > i img:nth-child(2){
  display: inline-block;
}






.pro-overview-select-filter{
  padding: 23px 0 50px
}
.select-filter-left{
  width: 25%;
  float: left;
  padding-right: 16px;
}

.select-filter-right{
  width: 75%;
  float: left;
}
.select-filter-frm-grup{
  margin-bottom: 15px;
}
.select-filter-left input{
  width: 100%;
  height: 48px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  text-align: center;
  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
  padding: 4px;
}
form .select-filter-right .bootstrap-select button {
  text-transform: initial!important;
  padding: 23px 18px!important;
  font-size: 16px!important;
  line-height: 22px!important;
  color: #1E1E1E!important;
  background: #FFFFFF!important;
  border: 1px solid #E8E8E8!important;
  border-radius: 0!important;
}
form .select-filter-right ul.dropdown-menu {
  background: transparent!important;
  border: 0!important;
}
form .select-filter-right .dropdown.bootstrap-select > .dropdown-menu {
  background: #FFFFFF!important;
  border: 1px solid #E8E8E8!important;
}
form .select-filter-right .dropdown-item {
  color: #16181b!important;
}
form .select-filter-right .dropdown-item.active{
  color: #fff!important;
}
.select-filter-left ::placeholder {
  color: #1E1E1E;
  opacity: 1;
}
.select-filter-left :-ms-input-placeholder { 
  color: #1E1E1E;
  opacity: 1;
}
.select-filter-left ::-ms-input-placeholder {
  color: #1E1E1E;
  opacity: 1;
}
.pro-overview-select-filter h6{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
s.pro-overview-sidebar-price{
  padding-bottom: 68px;
}
.amount-show{
  margin-bottom: 5px
}
.price-slider {
  padding-top: 10px;
  padding-bottom: 68px;
}
.price-slider .ui-state-default, 
.price-slider .ui-widget-content .ui-state-default, 
.price-slider .ui-widget-header .ui-state-default, 
.price-slider .ui-button, 
html .price-slider .ui-button.ui-state-disabled:hover, 
html .price-slider .ui-button.ui-state-disabled:active {
  border: 1px solid #F3BF00;
  background: #F3BF00;
  font-weight: normal;
  color: #454545;
  border-radius: 100%;
  width: 14px;
  height: 14px;
}
.price-slider .ui-widget.ui-widget-content {
  border: 0;
  border-radius: 10px;
  height: 5px!important;
  position: relative;
}
.price-slider .ui-widget.ui-widget-content::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #C4C4C4;
  border-radius: 10px;
  opacity: 0.3;
}

.ui-slider .ui-slider-range {
  position: absolute;
  z-index: 1;
  font-size: .7em;
  display: block;
  border: 0;
  background: #F3BF00
}
.price-slider .ui-slider-horizontal .ui-slider-handle {
  top: -5px;
  cursor: pointer;
}
.price-slider form label {
  line-height: normal;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #F3BF00;
}
.price-slider input{
  width:65px;
  height:40px;
  padding: 0;
  background: transparent;
  line-height: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: #F3BF00;
}
.price-slider .min-amount,
.price-slider .max-amount{
  width:50%;
  float: left
}
.price-slider .max-amount{
  text-align: left;
  position: relative;
}
.pro-overview-sidebar-filter{
  padding-bottom: 40px;
}
.pro-check-box-filter{
  padding-top: 30px;
}
.pro-check-box-filter .form-group {
  display: block;
  margin-bottom: 0;
}
.pro-check-box-filter .form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}
.pro-check-box-filter .form-group label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  line-height: 22px;
  color: #1E1E1E;
  margin-bottom: 25px;
}
.pro-check-box-filter .form-group label:active{
  color:red!important;
  opacity: 1;
}
.pro-check-box-filter .form-group label:focus{
  color:#000!important;
  opacity: 1;
}
.pro-check-box-filter .form-group label:hover{
  color:#000!important;
  opacity: 1;    
}
.pro-check-box-filter .form-group label::before {
  content:'';
  -webkit-appearance: none;
  padding: 9px;
  display: inline-block; 
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: 1px solid #E8E8E8;
  box-sizing: border-box;
  position: relative;
  top: -2px;
}
.pro-check-box-filter .form-group input:checked + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 3px;
  left: 8px;
  width: 6px;
  height: 14px;
  border: solid #F3BF00;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
.pro-check-box-filter .form-group input:checked + label::before {
  border: 1px solid #F3BF00;
}
.pro-overview-grid-con{
  width: 74.5%;
  float: left;
}
.pro-overview-single-des-con{
  padding-top: 30px;
}
.pro-overview-grid-innr-wrp{
  padding-top: 32px;
}
.pro-overview-single-img{
  width: 58.04%;
  float: right;
  min-height: 300px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.pro-overview-single-img img{
  -webkit-transition: all 0.5s;
  -ms-transition: all 0.5s;
  transition: all 0.5s;
}
@media(min-width: 991px){
  .pro-overview-single-img:hover img{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
}

.pro-overview-single-des{
  width: 41.96%;
  float: left;
  background: #F3BF00;
  min-height: 300px;
  padding: 35px 40px 20px 48px;
}
.pro-overview-single-des > span{
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}
.pro-overview-single-des > h2{
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}
.pro-overview-single-des > h2 a{
  color: #fff;
}
.pro-overview-single-des > h2 a:hover{
  color: #BF211E;
}

.pro-overview-single-des > strong.price{
  display: block;
  font-weight: 700;
  line-height: 22px;
  color: #BF211E;
  margin-bottom: 10px;
}
.pro-overview-single-des > p{
  font-size: 14px;
  margin-bottom: 10px;
}
.pro-overview-single-des-link{
  padding-top: 13px;
}
.pro-overview-single-des-link a{
  display: inline-block;
  vertical-align: baseline;
}
.pro-overview-single-des-link a:first-child{
  float: left;
  font-weight: 700;
  line-height: 22px;
  color: #fff;
  position: relative;
  padding-right: 35px;
}
.pro-overview-single-des-link a:first-child:hover{
  color: #BF211E;
  padding-right: 40px;
}
.pro-overview-single-des-link a:first-child::after{
  position: absolute;
  right: 0;
  top: 1px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f061";
  color: #fff;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.pro-overview-single-des-link a:first-child:hover::after{
  color: #BF211E;
}
.pro-overview-single-des-link a:last-child{
  float: right;
  padding-left: 15px;
}
.pro-overview-single-des-link a:last-child svg{
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.pro-overview-single-des-link a:last-child:hover svg{
  fill: #BF211E !important;
}
.pro-overview-grid-innr-wrp{
  margin-left: -12px;
  margin-right: -12px;  
}
.pro-overview-grid-item{
  width: 33.333%;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 32px;
}
.pro-overview-grid-item:nth-child(3n+1){
  clear: left;
}
.pro-overview-grid-item-innr{
  background: #fff;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  position: relative;
}
.pro-overview-grid-item-innr:hover{
  -webkit-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
}
.pro-overview-grid-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  min-height: 280px;
}
.pro-overview-grid-img a{
  display: inline-block;
  vertical-align: baseline;
}
@media(min-width: 991px){
  .pro-overview-grid-item-innr:hover .pro-overview-grid-img img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.pro-overview-grid-des{
  padding: 0 22px 22px;
}
.pro-overview-grid-des h5 {
  margin-bottom: 0;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.pro-overview-grid-des h5 a{
  color: #1E1E1E;
}
.pro-overview-grid-des h5 a:hover{
  color: #F3BF00;
}
.pro-overview-grid-des span{
  display: block;
  font-size: 14px;
  color: #ACABAB;
  margin-bottom: 25px;
}
.pro-overview-grid-des strong{
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #BF211E;
}
.pro-overview-grid-btm-lnc{
  border-top: 1px solid #F6F6F6;
  padding-top: 20px;
  margin-top: 25px;
}
.pro-overview-grid-btm-lnc a{
  display: inline-block;
  vertical-align: baseline;
}
.pro-overview-grid-btm-lnc a:first-child{
  float: left;
  font-weight: 700;
  line-height: 22px;
  color: #ACABAB;
  position: relative;
  padding-right: 35px;
}
.pro-overview-grid-btm-lnc a:first-child:hover{
  color: #F3BF00;
  padding-right: 40px;
}
.pro-overview-grid-btm-lnc a:first-child::after{
  position: absolute;
  right: 0;
  top: 1px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f061";
  color: #ACABAB;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.pro-overview-grid-btm-lnc a:first-child:hover::after{
  color: #F3BF00;
}
.pro-overview-grid-btm-lnc a:last-child{
  float: right;
  padding-left: 15px;
}
.pro-overview-grid-btm-lnc a:last-child svg{
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
}
.pro-overview-grid-btm-lnc a:last-child:hover svg{
  fill: #F3BF00;
}
.pro-new-tag{
  display: inline-block;
  vertical-align: baseline;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 12;
  padding: 5px 8px;
  background: #F3BF00;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  line-height: 20px;
}
.pro-overview-pagination{
  padding: 22px 10px 15px;
}
.pro-overview-grid-filter{
  padding: 50px 0 10px;
}
.pro-overview-grid-filter .rm-selctpicker-ctlr > span{
  font-size: 14px;
  line-height: 19px;
}
.pro-overview-grid-filter .rm-selctpicker-ctlr{
  float: right;
}
.pro-overview-grid-filter .rm-selctpicker-ctlr button.btn,
.pro-overview-grid-filter .rm-selctpicker-ctlr button.btn:hover {
  border:0;
  background: transparent;
  /* min-width: 245px!important; */
}
.pro-overview-grid-filter .rm-selctpicker-ctlr .bootstrap-select .dropdown-toggle .filter-option-inner-inner{
  text-transform: initial;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #1E1E1E;
}
.pro-overview-grid-filter .rm-selctpicker-ctlr .dropdown-toggle::before {
  right: 0!important;
}
.pro-overview-grid-filter .dropdown-menu.show{
  top: 12px!important;
}
.pro-overview-grid-filter .dropdown-item {
  font-weight: 700!important;
  font-size: 13px!important;
}
.pro-overview-grid-filter .bootstrap-select .dropdown-toggle .filter-option {
  padding-left: initial!important;
/*   min-width: 245px!important;
  box-sizing: border-box; */
}
.pro-overview-feature-innr{
  padding: 35px 0;
  margin-right: -12px;
  margin-left: -12px;
}
.overview-feature-slider-item-innr{
  min-height: 360px;
  background: #F3BF00;
  text-align: center;
  color: #fff;
}
.overview-feature-slider-item{
  width: 33.333%;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
.overview-feature-slider-item-innr {
  padding: 72px 48px 55px;
}
.overview-feature-slider-item i{
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 12px;
  max-width: 88px;
}
.overview-feature-slider-item i img{
  display: inline-block!important;
  vertical-align: middle;
  width: 100%;
}
.overview-feature-slider-item h4{
  line-height: 30px;
  margin-bottom: 15px;
}
.overview-feature-slider-item p{
  margin-bottom: 15px;
}
.overview-feature-slider.dft-slider-pagi2 .slick-dots{
  position: relative;
  top: -60px;
}
.overview-feature-slider.slick-dotted {
    margin-bottom: 0!important;
}






@media(max-width: 1499px){

}

@media(max-width: 1399px){

}

@media(max-width: 1299px){
  .pro-overview-grid-item {
    width: 50%;
  }
  .pro-overview-grid-item:nth-child(2n+1) {
    clear: left;
  }
  .pro-overview-grid-item:nth-child(3n+1) {
    clear: initial;
  }
}

@media(max-width: 1199px){
  .pro-overview-grid-des {
    padding: 0 15px 22px;
  }
  .pro-overview-grid-img {
    min-height: 240px;
  }
  .pro-overview-grid-item {
    padding-left: 7px;
    padding-right: 7px;
    margin-bottom: 22px;
  }
  .pro-overview-grid-innr-wrp {
    margin-left: -7px;
    margin-right: -7px;
  }
  .pro-overview-grid-con {
    width: 68%;
    float: left;
  }
  .pro-overview-sidebar-con {
    width: 32%;
    padding-right: 20px;
  }  
  .pro-overview-single-des {
    min-height: initial;
    padding: 35px 20px;
  }
  .pro-overview-single-img {
    min-height: initial;
  }
  .overview-feature-slider-item-innr {
    padding: 35px 20px 65px;
  }
  .overview-feature-slider-item-innr {
    min-height: initial;
  }
  .overview-feature-slider.dft-slider-pagi2 .slick-dots {
    top: -70px;
  }
}

@media(max-width: 991px){
  .select-filter-left {
    padding-right: 8px;
  }
  .pro-overview-single-des {
    width: 100%;
  }
  .pro-overview-single-img {
    width: 100%;
    min-height: 300px;
  }
  .organize-party-head h2 {
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
  }
}

@media(max-width: 767px){
  .pro-overview-sidebar-con {
    width: 100%;
    padding-right: 0;
  }
  .pro-overview-sidebar-con-innr{
    max-width: 450px;
    margin: 0 auto;
    display: none;
  }
  .pro-overview-grid-con {
    width: 100%;
    float: left;
  }
  .pro-overview-single-des-con {
    padding-top: 40px;
    max-width: 500px;
    margin: auto;
  }
  .pro-overview-grid-filter .rm-selctpicker-ctlr {
    float: none;
    margin: auto;
    max-width: 300px;
  }
  .pro-overview-feature-innr{
    max-width: 450px;
    margin: 0 auto;
  }
  .organize-party-head h2 {
    font-size: 30px;
    line-height: 35px;
  }
  .pro-overview-single-des > h2 {
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
  }
  .pro-overview-sidebar-head{
    position: relative;
    cursor: pointer;
  } 
  .pro-overview-sidebar-head::after{
    position: absolute;
    right: 0;
    top: 0;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    color: #a3a3a3;
    font-size: 23px;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }  
  .pro-overview-sidebar-head::after{
    position: absolute;
    right: 0;
    top: 2px;
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f107";
    color: #222020;
    font-size: 23px;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }   
  .pro-overview-sidebar-head.active::after{
    content: "\f106";
  }
 .pro-filter-con .pro-filter-main{
    display: none;
  }
  .pro-filter-con {
    padding-bottom: 28px !important;
  }
  .pro-overview-sidebar-head h4 {
    margin-bottom: 12px;
    font-size: 20px;
  }
  .pro-overview-select-filter {
    padding: 23px 0 0;
  }
  .price-slider {
    padding-top: 10px;
    padding-bottom: 5px;
  }
  .pro-overview-sidebar-sm-con{
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    padding: 18px 30px 10px 50px;
    cursor: pointer;
    background: #000;
    background: #BF211E;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    min-height: 56px;
    margin-bottom: 30px;
  }
  .pro-overview-sidebar-sm-con::after {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-family: "Font Awesome 5 Free"; 
    font-weight: 900; 
    content: "\f105";
    color: #fff;
    font-size: 26px;
    -webkit-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
  }
  .pro-overview-sidebar-sm-con.active::after{
    content: "\f107";
  }
  .pro-overview-sidebar-sm-con i{
    display: inline-block;
    vertical-align: baseline;
    max-width: 26px;
    position: absolute;
    left: 12px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .pro-overview-sidebar-sm-con i img{
    width: 100%;
  }
  .pro-overview-main-sec {
    padding: 55px 0 50px;
  }
}

@media(max-width: 575px){
  .pro-overview-grid-item:nth-child(2n+1) {
    clear: initial;
  }
  .pro-overview-grid-item {
    width: 100%;
  }
  .pro-overview-grid-item-innr {
    margin: 0 auto;
    max-width: 400px;
  }
  .pro-overview-grid-des span {
    margin-bottom: 15px;
  }  
  .organize-party-head h2 {
    font-size: 26px;
    line-height: 32px;
  }
  .pro-overview-single-des > h2 {
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
  }
  .pro-overview-single-des > span {
    font-size: 17px;
  }
  .pro-overview-grid-des h5 {
    line-height: 25px;
  }
  .pro-new-tag {
    font-size: 13px;
  }
}

@media(max-width: 479px){
  .overview-feature-slider-item i {
    max-width: 75px;
  }

}

@media(max-width: 359px){

}

