
.single-pro-details-sec{
  background: #F6F6F6;
  padding: 80px 0 80px;
}

.single-pro-lft-con{
  width: 49%;
  float: left;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 25px;
  padding-right: 55px;
  background:#952727;
}

.thumbSlider-wrp{
  float: left;
  width:  23%;
  position: relative;
}
.bigViewSlider-wrp {
  width: 77%;
  float: right;
  padding-left: 35px;
}
.bigViewSlider-item {
  padding: 0;
  position: relative;
  text-align: center;
}
.thumbSlider-item-img { 
  margin-bottom: 7px;
  padding:0;
  display: inline-block;
  vertical-align: baseline;
}
.thumbSlider-item i {
  display: block;
  margin: 0 auto; 
  width: 132px;
  height:132px;
  border: 2px solid #F6F6F6;
}
.thumbSlider-item i img {
  width: 100%;
}
.bigViewSlider .bigViewSlider-item,
.thumbSlider .thumbSlider-item{
  display: none !important;
}
.bigViewSlider .bigViewSlider-item:first-child,
.thumbSlider .thumbSlider-item:first-child{
  display: block !important;
}
.bigViewSlider.slick-initialized .bigViewSlider-item,
.thumbSlider.slick-initialized .thumbSlider-item{
  display: block !important;
}
.slider-pro-thumb-slider-wrp{
  position: relative;
}
.thumbSlider-arrows > .leftArrow{
  position: absolute;
  top:50px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 5;
  cursor: pointer;
  color: #1E1E1E;
  font-size: 22px;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.thumbSlider-arrows > .rightArrow{
  position: absolute;
  bottom: -32px;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 5;
  cursor: pointer;
  color: #1E1E1E;
  font-size: 22px;
  -ms-transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.thumbSlider-arrows > .leftArrow:hover,
.thumbSlider-arrows > .rightArrow:hover{
  color: #F3BF00;
}
.single-pro-rgt-con{
  width: 51%;
  float: left;
  padding-top: 10px;
  padding-left: 140px;
}





















.pro-description-sec{
  padding: 75px 0 70px;
}
.pro-description-lft{
  width: 67.75%;
  float: left;
  padding-right: 142px;
}
.pro-description-rgt{
  width: 32.25%;
  float: left;

}


.pro-description-lft h2{
  font-size: 36px;
  line-height: 53px;
  letter-spacing: 0.03em;
  color: #222020;
  margin-bottom: 25px;
}

.pro-description-lft p{
  margin-bottom: 23px;
}




.pro-description-bq{
  background: #F3BF00;
  padding: 40px 25px 30px 40px;
}
.pro-description-bq i{
  display: inline-block;
  vertical-align: baseline;
  max-width: 58px;
  margin-bottom: 20px;
}
.pro-description-bq i img{
  width: 100%;
}

.pro-description-bq p{
  font-style: italic;
  font-weight: 600;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 25px;
}

















.organize-party-head{
  max-width: 870px;
}
.organize-party-head h2{
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: #222020;
  margin-bottom: 20px;
}
.organize-party-head p{
  margin-bottom: 20px;
}

.organize-party-bg-wrp{
  margin-left: -8px;
  margin-right: -8px;
}
.organize-party-bg{
  width: 33.333%;
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}
.organize-party-bg-innr{
  position: relative;
  overflow: hidden;  
}
.organize-party-bg-main{
  background-position: center center!important;
  background-size: cover!important;
  background-repeat: no-repeat!important;
  min-height: 440px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.organize-party-bg-innr:hover .organize-party-bg-main{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}




.interested-pro-item-slider-wrp{
  max-width: 1045px;
}
.interestedItemSlider{
  margin-left: -12px;
  margin-right: -12px;  
}
.interestedItemSlider-item{
  width: 33.333%;
  float: left;
  padding-left: 12px;
  padding-right: 12px;
}
.interestedItemSlider-item-innr{
  -webkit-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  -ms-box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.03);
}
.interestedItemSlider-img{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  overflow: hidden;
  min-height: 280px;
}

.interestedItemSlider-des{
  padding: 0 22px 22px;
}
.interestedItemSlider-des h5 {
  margin-bottom: 0;
  line-height: 30px;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
.interestedItemSlider-des h5 a{
  color: #1E1E1E;
}
.interestedItemSlider-des h5 a:hover{
  color: #F3BF00;
}
.interestedItemSlider-des span{
  display: block;
  font-size: 14px;
  color: #ACABAB;
  margin-bottom: 25px;
}
.interestedItemSlider-des strong{
  display: block;
  font-size: 16px;
  line-height: 22px;
  color: #BF211E;
}
.interestedItemSlider-btm-lnc{
  border-top: 1px solid #F6F6F6;
  padding-top: 20px;
  margin-top: 25px;
}
.interestedItemSlider-btm-lnc a{
  display: inline-block;
  vertical-align: baseline;
}
.interestedItemSlider-btm-lnc a:first-child{
  float: left;
  font-weight: 700;
  line-height: 22px;
  color: #ACABAB;
  position: relative;
  padding-right: 35px;
}
.interestedItemSlider-btm-lnc a:first-child:hover{
  color: #F3BF00;
  padding-right: 40px;
}
.interestedItemSlider-btm-lnc a:first-child::after{
  position: absolute;
  right: 0;
  top: 1px;
  font-family: "Font Awesome 5 Free"; 
  font-weight: 900; 
  content: "\f061";
  color: #ACABAB;
  font-size: 16px;
  -webkit-transition: all .5s ease;
  -ms-transition: all .5s ease;
  transition: all .5s ease;
}
.interestedItemSlider-btm-lnc a:first-child:hover::after{
  color: #F3BF00;
}
.interestedItemSlider-btm-lnc a:last-child{
  float: right
}
.interestedItemSlider-btm-lnc a:last-child:hover{
  opacity: .8
}








































